*{
    box-sizing: content-box;
}

.box{
    width: 400px;
    height: 400px;
    border: dotted 5px rgba(0,0,0,0.9);
    margin: 10% auto;
    padding: 70px;
}
.produtos img{
    height: 400px;
    width:400px;
    border-radius: 10px;
}
.produtos img:hover{
    transform: scale(1.5)
}
.container{
    display: flex;
    justify-content:center;
}
.titulo_prod{
    text-align: center;
    padding: top 10px;
    display:flex;
    justify-content: center;
    color: rgb(240, 93, 7);
    font-weight: bold;
    font-family: Arial;
}
.texto_prod{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 93, 7);
    font-weight: bold;
    font-family: Arial;
}
